# Ignore all files in the .env directory
.env/

# Ignore node_modules directory
node_modules/

# Ignore .DS_Store file
.DS_Store

# Ignore .env file
.env

# Ignore docker-compose.yaml file
docker-compose.yaml

# Ignore pnpm-lock.yaml file
pnpm-lock.yaml

